<!-- @format -->

{% extends 'base.html' %} {% block content %}
<h2 style="text-align: center;">{{search | title}}</h2>
<div class="container row">
  {% for post in final_postings %}
  <div class="col s4">
    <div class="card" style="border-radius: 10px;">
      <div class="card-image">
        <a href="{{post.1}}">
          <img src="{{post.3}}" alt="image" />
        </a>
      </div>
      <div class="card-content">
        <p>{{post.0}}</p>
      </div>
      <div class="card-action">
        <a href="{{post.1}}" style="color: #f05e5e;">View listing: Price {{post.2}}</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<footer
  class="page-footer"
  style="background-color: #1a4f69; justify-content: center; align-items: center;"
>
  <div class="footer-copyright">
    <div class="container" style="text-align: center;">
      ©2020 Copyright Bc
    </div>
  </div>
</footer>

{% endblock %}
