/** @format */

.card {
  height: 400px;
  overflow: hidden;
}

.card-image {
  height: 250px;
  overflow: hidden;
}
.container {
  display: flexbox;
  flex-direction: column;
  align-content: space-between;
}
